button {
    font-family: "Kantumruy pro", Georgia, sans-serif;
    font-size: 15px;
    border: 1px solid transparent;
    padding: 0 2rem;
    cursor: pointer;
    background-color: #D8B35D;
    color: rgba(0, 0, 0, 0.44);
    height: 35px;
    width: auto;
    border-radius: 30px;
}

button:hover {
    font-weight: bold;

}