.page-header-mealplanpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.weekplan-section p {
    margin-bottom: 2rem;
    text-align: center;

}

.weekplan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}

/*////////////////////////
    1. Styling grocery list
////////////////////////*/

.grocerylist-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.grocerylist-section h2 {
    margin: 3rem;
}

.grocerylist-checkboxes {
    list-style-type: disc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.grocerylist-checkboxes .custom-checkbox {
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.grocerylist-section button {
    margin: 2rem;
}

@media (max-width: 900px) {
    .grocerylist-checkboxes {
        flex-direction: column;
    }
}

/*////////////////////////
    1. Styling alternative content when not logged in
////////////////////////*/

.not-auth-mealplan-container {
    display: block;
    margin: 10rem 5rem 15rem 5rem;
    text-align: center;
}
.login-sentence-mealplan-container {
    margin: 2rem 0;
}

