.page-header-mealplanpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.page-header-mealplanpage p {
    width: 50%;
    margin: 2rem;
    text-align: center;
}

.weekplan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}

/*////////////////////////
    1. Styling grocery list
////////////////////////*/

.grocerylist-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.grocerylist-section h2 {
    margin: 3rem;
}

.ingredient-list  {
    list-style-type: disc;
    columns: 2;
    column-gap: 8rem;
    margin: 0 2rem  0 8rem;
    flex-wrap: wrap;
}


/*////////////////////////
    1. Styling alternative content when not logged in
////////////////////////*/

.login-link-container {
    display: block;
    margin: 5rem 2rem;
    text-align: center;
}
.login-sentence {
    margin: 2rem 0;
}

