.page-header-mealplanpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.page-header-mealplanpage p {
    width: 50%;
    margin: 2rem;
    text-align: center;
}

.weekplan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}