.recipe-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F4F1EB;
    border-radius: 25px 0 25px 25px;
    height: 12rem;

    /*max-width: fit-content;*/
    overflow: hidden;

}

.recipe-image {
    width: 18rem;
    margin-right: 0.5rem;
    border: 0.5rem #F4F1EB solid;
    border-radius: 25px 0 0 25px;
}

.recipe-specification {
    text-align: center;
    max-width: 140px;
    padding-bottom: 0.7rem;
}

.recipe-title {
    margin: 1rem 0.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #D8B35D;
}

.detail-icon {
    width: 1.2rem;
    margin-inline: 0.3rem;
}

.cooking-time {
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
    margin-bottom: 0.5rem;
}

.kcal-info {
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
}


