
.recipe-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-overview-header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5rem 5rem 5rem;
}

.alternative-recipe-article-section {
    margin: 10rem 5rem 7rem 5rem;
}