/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Page header
    2. Selection of recipes
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Page header
////////////////////////*/

.page-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F1EB;
    padding: 50px 0;
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-section{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
    flex-wrap: wrap;
}


.header_text{
    width: 60%;
    margin: 2rem;
    text-align: center;
}



/*////////////////////////
    1. Selection of recipes
////////////////////////*/

/*
Title section
*/

.recipe-header-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.yellow-logo-container {
    width: 8rem;
    margin: 2rem;
}

.title_recipe-header{
    margin-bottom: 3rem;
}

/*
Article section
*/



.recipe-article-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}



