.recipe-description-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: fit-content;
    border-radius: 25px 0 25px 25px;
    overflow: hidden;
}

.general-info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.general-info-container img {
    width: 35rem;
}

.ingredients-method-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
}

.food-image {
    max-width: 35rem;
    width: 100%;
}

.recipe-info-container img {
    width: 1.2rem;
    margin: 0 1rem;
}

.recipe-info-container h2 {
    margin: 0 0 1rem 0;
}

.recipe-summary-item {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 0;
}

.nutrition-info {
    border-bottom: #D8B35D solid 2px;
    border-top: #D8B35D solid 2px;
    padding: 0.6rem 2rem;
    margin: 2rem 3rem 0 3rem;
}

.recipe-info-container {
    display: flex;
    flex-direction: column;
    width: 35rem;
    background-color: #F4F1EB;
    padding: 5rem 3rem 3rem 3rem;
}

.method-container {
    max-width: 35rem;
    background-color: #F4F1EB;
    padding: 0 5rem;
}

.ingredient-container {
    background-color: #D8B35D;
    max-width: 35rem;
    padding: 4rem 5rem;
}

.ingredients li,
.method-steps li {
    padding: 0.2rem 0;
}

.ingredient-container h2,
.method-container h2 {
    margin: 0 0 1rem -1rem;
}

.add-recipe-button {
    margin: 2rem 0;
}

.error-statement, .loading-statement {
    display: flex;
    justify-content: center;
    margin: 24rem 0;
}
