.sign-in-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    text-align: center;
    background: #F4F1EB;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 5rem;
}

.login-header-section img {
    width: 4rem;
}

.login-header-section h1 {
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    /*box-sizing: inherit;*/
    align-items: center;
}

/*.label-form {*/
/*    display: block;*/
/*}*/

.form-button {
    margin: 2rem;
}

.registration-login-button-container {
    display: flex;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
}

.registration-login-button-container button {
    background-color: white;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #D8B35D;
    border-radius: 0;
    text-align: left;
    margin: 0.5rem;
    flex: 1 1 auto;
}

.registration-login-button-container button:hover {
    border-bottom-color: #D8B35D;
}

.registration-login-button-container .login-button {
    border: none;
    border-bottom: 2px solid #D8B35D;
}

.registration-login-button-container .registration-button {
    border: none;
    border-bottom: 2px solid white;
}

/*////////////////////////
    1. Styling when logged in succesfully
////////////////////////*/

.login-successfully-container {
    margin: 5rem 2rem;
    text-align: center;
}

.what-next-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
}

.successfully-sentence {
    font-size: 2rem;
    font-weight: bold;
    color: #D8B35D;
}