.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 16px;

}

.custom-checkbox input {
    display: none;
}

.custom-checkbox span {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid darkgray;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
}

.custom-checkbox input:checked + span {
    background-color: #27592E;
    border-color: #27592E;
}

.custom-checkbox input:checked + span::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}