footer {
    background-color: #27592E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5em;
}

.logo-container-footer img {
    width: 120px;
    margin-right: 20px;
    padding: 5px 0;
}

